<%- include header.ejs %>
<body>
<div class="container">
    <%= title %>
    <form class="form-signin">
        <h2 class="form-signin-heading">doodoole管理后台</h2>
        <input type="email" class="form-control" placeholder="Email address" autofocus="">
        <input type="password" class="form-control" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div>
</body>

<%- include footer.ejs %>