
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
        <div class="nav-collapse ">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">主页</a></li>
                <li><a href="/uper">强化</a></li>
                <li><a href="#contact">奖励</a></li>
            </ul>
            <form class="navbar-form form-inline pull-right" method="post">
                <input type="text" placeholder="邮箱">
                <input type="password" placeholder="密码">
                <button type="submit" class="btn">登录</button>
                <a  data-toggle="modal" href="#myModal">注册</a>
                <!--<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>-->
            </form>
        </div><!--/.nav-collapse -->
    </div>
</div>

<%- include registerModal.ejs %>